html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Ariel, Helvetica, Sans-serif;
  text-align: center;
}

body {
  width: 90%;
  height: 100%;
  padding: 0;
  margin: 0 5%;
  font-family: Ariel, Helvetica, Sans-serif;
  text-align: center;
  display: inline-block;
}

header.head {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 20%;
  text-align: center;
}

header.head h1 {
  padding: 0;
  margin: 0;
}

article.main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 60%;
  text-align: center;
}

footer.foot {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 20%;
  text-align: center;
}
